@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Noto+Sans+KR&display=swap');

:root {
	--colorTit1: #111;
	--colorBody: #555;
	--colorPoint1: orangered;
	--fontTit1: 'Nanum Myeongjo', 'serif', '명조';
	--fontBody: 'Noto Sans KR', 'arial', '돋움';
}
$labtop: 1199px;
$tablet: 779px;
$mobile: 539px;
