@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

main {
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url(../img/bg_morning.jpg);
	overflow: hidden;

	nav {
		width: 40%;
		padding: 5vh 5vw;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 5;
		display: flex;
		justify-content: space-between;
		color: #333;

		span {
			font-size: 0.8rem;
			font-weight: bold;
			font-family: 'orbitron';
			letter-spacing: 1px;
			opacity: 0.4;
			cursor: pointer;

			&.on {
				opacity: 1;
			}
		}
	}

	.auto {
		position: absolute;
		left: 5vw;
		bottom: 5vh;
		color: #fff;
		cursor: pointer;
		font-size: 0.6rem;
		background-color: transparent;
		border: 1px solid #fff;
		padding: 5px 25px;
	}

	article {
		width: 35vw;
		position: absolute;
		top: 60vh;
		left: 5vw;

		p {
			font: 4vmax/1 'orbitron';
			color: #fff;
			margin-bottom: 20px;

			strong {
				font-weight: normal;
				opacity: 0.7;
			}
		}

		em {
			font: 0.8rem/1.2 'arial';
			color: #fff;
			font-weight: normal;
			padding-left: 5px;
			opacity: 0.6;
		}
	}

	figure {
		width: 800px;
		height: 400px;
		position: absolute;
		right: -5vw;
		top: 50%;
		margin-top: -100px;
		background-image: url(../img/phone_morning.png);
		background-position: right top;
		background-repeat: no-repeat;
		background-size: contain;

		.screen {
			width: 271px;
			height: 153px;
			position: absolute;
			top: 50px;
			left: 260px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;
			font-family: 'orbitron';
			font-size: 2rem;
			gap: 5px;

			em {
				position: absolute;
				top: 40px;
				left: 40px;
				font-size: 1rem;
				opacity: 0.8;
			}

			span {
				width: 50px;
				text-align: center;
			}
		}
	}
}

//Theme Style
main.morning {
	background-image: url(../img/bg_morning.jpg);

	figure {
		background-image: url(../img/phone_morning.png);
	}
}

main.afternoon {
	background-image: url(../img/bg_afternoon.jpg);

	figure {
		color: #555;
		background-image: url(../img/phone_afternoon.png);

		.screen {
			color: #555;
		}
	}
}

main.evening {
	background-image: url(../img/bg_evening.jpg);

	figure {
		background-image: url(../img/phone_evening.png);
	}
}

main.night {
	background-image: url(../img/bg_night.jpg);

	nav {
		color: #fff;
	}

	figure {
		background-image: url(../img/phone_night.png);
	}
}
